.collapse a{
	color: white;
}

#logout {
	margin-top: 10px;
}

.container .jumbotron {
	background-image: url("http://pds.egloos.com/pds/1/200502/17/00/b0049600_10105237.jpg");
	background-size: 1200px 400px;
	color: white;
	min-height: 400px;
}

.container .jumbotron h1{
	float: top;
}

.navbar .navbar-default .navar-static-top{
	color : white;
}
#applySection{
	background-image: url("https://www.facebook.com/photo.php?fbid=786117571506264&set=a.746235618827793.1073741826.100003240853439&type=1");
	background-size: 100% 100%;
	border-radius: 25px;
	min-height: 300px;
	max-height: 350px;
}
#applySection p{
	padding: 5% 5% 5% 5%;
	margin-top: 60%;
	font-size:18px;
	background-color: #000000;
    opacity: 0.5;
    color:white;
}
#gameNewSection{
	background-image: url("http://imgnews.naver.net/image//431/2015/06/18/mug_obj_143459363470849489.jpg?type=w540");
	background-size: 100% 100%;
	border-radius: 25px;
	min-height: 300px;
	max-height: 350px;
}
#gameNewSection p{
	padding: 5% 5% 5% 5%;
	margin-top: 60%;
	font-size:18px;
	background-color: #000000;
    opacity: 0.5;
    color:white;
}
#machupSection{
	background-image: url("http://image.fmkorea.com/files/attach/images/15635657/090/912/032/f675754e2176274e2cdd4181900125ad.JPG");
	background-size: 100% 100%;
	border-radius: 25px;
	min-height: 300px;
	max-height: 350px;
}
#machupSection p{
	padding: 5% 5% 5% 5%;
	margin-top: 60%;
	font-size:18px;
	background-color: #000000;
    opacity: 0.5;
    color:white;
}
