body {
	margin: 100px auto;
	text-align: center;
	width: 400px;
}
h1 {
	margin-bottom: 30px;
}
strong, img {
	display: block;
}
img {
	margin: 0 auto;
	border-radius: 3px;
}
#logout {
	margin-top: 10px;
}
#facebook-session img {
	width: 5px;
	height: 5px;
}
