.collapse a{
	color: white;
}

#logout {
	margin-top: 10px;
}

.container .jumbotron {
	background-image: url("http://pds.egloos.com/pds/1/200502/17/00/b0049600_10105237.jpg");
	background-size: 1200px 200px;
	color: white;
	min-height: 200px;
}

.container .jumbotron h1{
	float: top;
}

.navbar .navbar-default .navar-static-top{
	color : white;
}
#applyBtn{
	text-align: right;
}
#gameNewSection{

	border-radius: 25px;
	max-height:550px;
}
#gameNewSection p{
	margin-top:170px;
	font-size:20px;
	color:white;
}
#gameNewSection h3{
	font-size:40px;
	color:white;
}
